flows.json
[{"id":"3a0ff6d1.ef6b7a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9903fbf8.36f498","type":"http request","z":"3a0ff6d1.ef6b7a","name":"Call to mock API","method":"GET","ret":"obj","paytoqs":true,"url":"http://127.0.0.1:1880/mock","tls":"","proxy":"","authType":"","x":278,"y":525,"wires":[["2d1704c2.739a8c"]]},{"id":"d150b508.4efc18","type":"e-mail","z":"3a0ff6d1.ef6b7a","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"tapase.prashant@gmail.com","dname":"Mail to user","x":1673,"y":427,"wires":[]},{"id":"c24ab7d5.6ad298","type":"switch","z":"3a0ff6d1.ef6b7a","name":"Age validation","property":"payload.age","propertyType":"msg","rules":[{"t":"lt","v":"18","vt":"str"},{"t":"gte","v":"18","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":143.5,"y":342,"wires":[["a6d00f79.35bee"],["99a06ba0.0752d8"]]},{"id":"fc1bf814.075c08","type":"http in","z":"3a0ff6d1.ef6b7a","name":"","url":"/lead","method":"post","upload":false,"swaggerDoc":"","x":65,"y":268,"wires":[["c24ab7d5.6ad298"]],"outputLabels":["msg"]},{"id":"99a06ba0.0752d8","type":"switch","z":"3a0ff6d1.ef6b7a","name":"Loan amt validation","property":"payload.loanAmt","propertyType":"msg","rules":[{"t":"lt","v":"25000","vt":"str"},{"t":"gte","v":"25000","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":149.5,"y":403,"wires":[["e91d1923.9ed2c8"],["2b20ce02.51faa2"]]},{"id":"19dcc895.7e8bf7","type":"http response","z":"3a0ff6d1.ef6b7a","name":"Invalid age response","statusCode":"","headers":{},"x":645.5,"y":306,"wires":[]},{"id":"a6d00f79.35bee","type":"template","z":"3a0ff6d1.ef6b7a","name":"Invalid age template","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"status\": \"error\",\n\"message\": \"Age should be greater than 18 years\"}","output":"json","x":389,"y":304,"wires":[["19dcc895.7e8bf7"]]},{"id":"28b3946e.287d3c","type":"http response","z":"3a0ff6d1.ef6b7a","name":"Invalid loan amt response","statusCode":"","headers":{},"x":661.5,"y":364,"wires":[]},{"id":"e91d1923.9ed2c8","type":"template","z":"3a0ff6d1.ef6b7a","name":"Invalid loan amt template","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"status\": \"error\",\n\"message\": \"Loan amt should be greater than 25K\"}","output":"json","x":397,"y":364,"wires":[["28b3946e.287d3c"]]},{"id":"14eb1386.a9634c","type":"http in","z":"3a0ff6d1.ef6b7a","name":"","url":"/mock","method":"get","upload":false,"swaggerDoc":"","x":72,"y":46,"wires":[["64aa4716.5baa68"]]},{"id":"9c0c90e8.63de3","type":"http response","z":"3a0ff6d1.ef6b7a","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":866.5,"y":47,"wires":[]},{"id":"b5be8194.cc8a4","type":"file in","z":"3a0ff6d1.ef6b7a","name":"Location of mock file","filename":"D:/mockData.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":508.5,"y":48,"wires":[["ebe88a72.40a488"]]},{"id":"ebe88a72.40a488","type":"function","z":"3a0ff6d1.ef6b7a","name":"mockLogic","func":"const payload = JSON.parse(msg.payload);\n\nconst result = payload.find((json) => {\n\treturn json.name == msg.req.query.name\n});\n\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":716.5,"y":47,"wires":[["9c0c90e8.63de3"]]},{"id":"48e66177.08f6e","type":"comment","z":"3a0ff6d1.ef6b7a","name":"Mock API","info":"Mock API node point\n\nAbove API provide mock json output / Score of user. ","x":398,"y":152,"wires":[]},{"id":"2d1704c2.739a8c","type":"switch","z":"3a0ff6d1.ef6b7a","name":"","property":"payload.score","propertyType":"msg","rules":[{"t":"lt","v":"750","vt":"str"},{"t":"btwn","v":"750","vt":"num","v2":"950","v2t":"num"},{"t":"gt","v":"950","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":451.5,"y":525,"wires":[["6e3b0229.cfdd8c"],["1cfbfb54.00a725"],["432635c6.c941bc"]]},{"id":"ca3d097.ee82af8","type":"http response","z":"3a0ff6d1.ef6b7a","name":"error response for 750","statusCode":"","headers":{},"x":975,"y":461,"wires":[]},{"id":"6e3b0229.cfdd8c","type":"template","z":"3a0ff6d1.ef6b7a","name":"Error - less than 750 template","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\"status\": \"error\",\n\"message\": \"Your CIBIL score is less than 750\"}","output":"json","x":699.5,"y":461,"wires":[["ca3d097.ee82af8"]]},{"id":"655cf543.a4b24c","type":"http response","z":"3a0ff6d1.ef6b7a","name":"error response for 950","statusCode":"","headers":{},"x":980,"y":573,"wires":[]},{"id":"432635c6.c941bc","type":"template","z":"3a0ff6d1.ef6b7a","name":"Error - less than 950 template","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\"status\": \"error\",\n\"message\": \"Your CIBIL score is higher than 950\"}","output":"json","x":700.5,"y":573,"wires":[["655cf543.a4b24c"]]},{"id":"64aa4716.5baa68","type":"change","z":"3a0ff6d1.ef6b7a","name":"Transform into query","rules":[{"t":"set","p":"payload","pt":"msg","to":"query","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":271,"y":47,"wires":[["b5be8194.cc8a4"]]},{"id":"2b20ce02.51faa2","type":"change","z":"3a0ff6d1.ef6b7a","name":"Move age and loadAmt to req","rules":[{"t":"move","p":"payload.age","pt":"msg","to":"payload.req.age","tot":"msg"},{"t":"move","p":"payload.loanAmt","pt":"msg","to":"payload.req.loanAmt","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":187,"y":456,"wires":[["9903fbf8.36f498"]]},{"id":"263fa5a3.e07f0a","type":"mysql","z":"3a0ff6d1.ef6b7a","mydb":"92afd628.c006c8","name":"","x":806.5,"y":519,"wires":[["44157325.17246c"]]},{"id":"1cfbfb54.00a725","type":"function","z":"3a0ff6d1.ef6b7a","name":"Insert Query","func":"msg.topic = \"insert into tbl_lead_user (name, loan_amt, created_at) values ('\"+msg.req.body.name+\"',\"+msg.req.body.req.loanAmt+\", NOW());\"; \nreturn msg;","outputs":1,"noerr":0,"x":640.5,"y":521,"wires":[["263fa5a3.e07f0a"]]},{"id":"2bb29193.2c81ae","type":"http response","z":"3a0ff6d1.ef6b7a","name":"Success response","statusCode":"","headers":{},"x":1625,"y":506,"wires":[]},{"id":"fa584fce.0dbe4","type":"switch","z":"3a0ff6d1.ef6b7a","name":"Check for insert","property":"payload.affectedRows","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1185.5,"y":516,"wires":[["9295f641.ce85e8","18c11231.eb21ee"],["40f61016.63e8c"]]},{"id":"40f61016.63e8c","type":"template","z":"3a0ff6d1.ef6b7a","name":"Failed to insert msg","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\"status\": \"error\",\n\"message\": \"Something is wrong with DB\"}","output":"json","x":1400,"y":598,"wires":[["e5f4e4c5.9b53f8"]]},{"id":"44157325.17246c","type":"json","z":"3a0ff6d1.ef6b7a","name":"Convert to json","property":"payload","action":"obj","pretty":true,"x":985,"y":517,"wires":[["fa584fce.0dbe4"]]},{"id":"e5f4e4c5.9b53f8","type":"http response","z":"3a0ff6d1.ef6b7a","name":"Failed response","statusCode":"","headers":{},"x":1633,"y":598,"wires":[]},{"id":"9295f641.ce85e8","type":"template","z":"3a0ff6d1.ef6b7a","name":"Success msg","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\"status\": \"Success\",\n\"message\": \"Please check your mail for confirmation\"}","output":"json","x":1424,"y":508,"wires":[["2bb29193.2c81ae"]]},{"id":"18c11231.eb21ee","type":"function","z":"3a0ff6d1.ef6b7a","name":"Email sub & email content","func":" msg = {\n    payload: \"Congratulation, You are eligible for loan\",\n    topic: \"Loan approved\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1434.5,"y":427,"wires":[["d150b508.4efc18"]]},{"id":"2f4a424d.77908e","type":"comment","z":"3a0ff6d1.ef6b7a","name":"Lead API","info":"Lead API node point\n\nAbove API validate user and provide mock json output & Send a mail to user. ","x":429,"y":660,"wires":[]},{"id":"92afd628.c006c8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"db_loan","tz":""}]